@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root{
    --primary-color-1: #d96c6c;
    --primary-color-2: #261c15;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body{
    height: 3000px;
}


/* header */
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
   
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo-container{
    width: 20rem;
}

header .logo-container img{
    width: 100%;
}

header .navbar a{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a:hover{
    color: #fff;
    background-color: var(--primary-color-1);
}
header .navbar .active{
    color: #fff;
    background-color: var(--primary-color-1);
}

header .icons a{
    background-color: #eee;
    margin-left: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.3rem;
    color: black;
    border-radius: 50%;
    text-align: center;
}

header .icons a:hover{
    color: #fff;
    background: var(--primary-color-1);
    transform: rotate(360deg);

}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1004;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
#search-form #search-box{
    width: 40rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}
#search-form label:hover{
    color: var(--primary-color-1);
}
#search-form #close{
    position: absolute;
    top: 2rem;
    color: #fff;
    font-size: 3.5rem;
    right: 3rem;
    cursor: pointer;
}

#search-form.active{
    top: 0;
}



























/* media queries */
@media (width <= 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
}

@media (width <= 768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 0.1rem solid rgba(0,0,0,0.2);
        border-top: 0.1rem solid rgba(0,0,0,0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    header .icons a{
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
    }

    #search-form #search-box{
        width: 90%;
        padding: 0 1rem;
        
    }
}